:root {
    --main-color: #212121;
    --accent-color: #2196f3;
    --title-color: #ffffff;
    --background: #2f303a;
    --team-color: #F5F4FA;
    --text-color: #757575;
}


.header{
    width: 1600px;
    height: 80px;
    flex-shrink: 0;
    border-bottom: 1px solid #ececec;

    background-color: var(--title-color);
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: auto;
    color: var(--main-color);
    display: flex;
    width: 1600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


/* Header section */

.blue {
    color: var(--accent-color);
}

.logo{
    font-size: 26px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    padding-top: 25px;
}

a {
    color: var(--main-color);
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;

    text-decoration: none;
}  

.inline{
    display: inline-block;
}

.nav-list {
    color: var(--main-color);
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: inline;
    margin-right: 50px;

}

.first-studio{
    margin-left: 95px;
}

.first-address{
    margin-left: 375px;
    margin-right: 40px;
}

.current {
    color: var(--accent-color);
}

.link-contact {
    color: var(--text-color);
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;

  }
  
.link-contact:hover,
.link-contact:focus {
    color: var(--accent-color);
}

ul{
    list-style: none;
}

.link-contact {
    color: var(--text-color);
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

/* Studio-main page */
/* Head section */

.container-head-1{
    width: 1600px;
    max-height: 600px;
    flex-shrink: 0;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--background);

}

.container-head-1 > h1{
    display: flex;
    width: 696px;
    flex-direction: column;
    flex-shrink: 0;

    color: var(--title-color);

    margin-left: 450px;
    margin-bottom:30px;
    
    text-align: center;
    font-size: 44px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.button-first-page{
    color: var(--title-color);
    text-align: center;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;


    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--accent-color);
}

/* Information section */

.container-information-1{
    width: 1170px;
    height: 100px;
    flex-shrink: 0;
    padding-top: 95px;
    padding-bottom: 95px;

    display:inline-flex
}

.text-info-1{
    color: var(--text-color);
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;

    display: flex;
    width: 270px;
    height: 75px;
    flex-direction: column;
    flex-shrink: 0;

    text-align:left;
    margin-right: 30px;
}

.title-info-1{
    color: var(--main-color);
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    display: flex;
    width: 270px;
    flex-direction: column;
    flex-shrink: 0;

    text-align:left

}

/* What we do section */

.container-whatwedo{
    width: 1500px;
    height: 385px;
    flex-shrink: 0;
    display:inline-block;

    padding-left: 30px;
    margin-bottom: 95px;
}

.titles{
    color:var(--main-color);
    text-align: center;
    font-size: 36px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.image-whatwedo{
    width: 370px;
    height: 294px;
    flex-shrink: 0;

    display: inline-block;
    margin-right: 30px;
}

/* Our Team section */

.container-ourteam{
    width: 1600px;
    height: 650px;
    flex-shrink: 0;

    display: inline-block;
    background: var(--team-color);
    padding-top: 95px;
}

.container-image-ourteam{
    width: 270px;
    height: 368px;
    flex-shrink: 0;

    border-radius: 0px 0px 4px 4px;
    background: var(--title-color);

    /* material shadow v1 */
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    display: inline-block;
}

.names-1{
    color: var(--main-color);
    text-align: center;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.position-1{
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

/* Portfolio page */
/* Main section */

.button-list {
    display: flex;
    justify-content: center;

    margin-top: 95px;
}

.button-list li {
    margin-right: 10px;
}

.button-list button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    padding-left: 30px;
    padding-right: 30px;
  
    box-sizing: content-box;
    height: 40px;
    background-color: var(--team-color);
    border-radius: 4px;
    border: var(--team-color);
}


.button-list button:hover,
.button-list button:focus {
    background-color: var(--accent-color);
    color: var(--title-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gallery-projects {
    display: flex;
    width: 1600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 95px;
}

.projects-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-section li{
    width: 370px;
    height: 404px;
    flex-shrink: 0;
    margin: 30px;
  
    border: 1px solid #EEE;
    background: #FFF;
}


.project-title {
    display: flex;
    width: 322px;
    flex-shrink: 0;
    margin-left: 25px;

    color: var(--main-color);
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
}

.project-description {
    display: flex;
    width: 322px;
    flex-shrink: 0;
    margin-left: 25px;
    margin-bottom: 20px;

    color: var(--text-color);
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
}

.address-contact {
    display: flex;
    width: 231px;
    flex-direction: column;

    color: var(--text-color);
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
}

/* Footer section */

.footer {
    background: var(--background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.container-footer{
    max-width: 1600px;
    max-height: 251px;
    flex-shrink: 0;
}

.address{
    color: #FFF;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;

    display: flex;
    width: 207px;
    height: 16px;
    flex-direction: column;
    flex-shrink: 0;

    margin-bottom: 10px;
}


.address:focus,
.address:hover{
    color: var(--accent-color);
}

.list-footer{
    width: 231px;
    height: 72px;
    flex-shrink: 0;

    margin-left: 170px;
    
}

.contacts-footer{
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.42px;

}

.item{
    margin-bottom: 10px;
    display: flex;
    margin-left: 8px;
}



.logo-footer{
    color: var(--accent-color);
    font-size: 26px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}


.text-logo{
    color: var(--title-color);
    font-size: 26px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.basement{
    margin-right: 1250px;
    margin-left: 215px;
}


